* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
}

.container {
    width: 1140px;
    margin-left: 0;
    height: 750px;
    margin-right: auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(/img/header.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    width: auto;
    background-color: #1f435b;
}

.menu {
    float: left;
    width: 20%;
}

.content {
    float: left;
    width: 75%;
}

.side-menu {
    float: left;
    list-style-type: none;
  

}

li button {
    background-color: #f9eee8;
   
    text-align: center;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    width: 200px;

    font-family: 'Noto Sans HK', sans-serif;
    color: black;
    

}
button:first-child{
    border-top-right-radius: 6%;
    border-top-left-radius: 6%;
}
li button:hover {
    background-color:#aa0f0f;
    color: white;

}
#posztkiiratas {
    margin:20px;
    padding: 0;
    background: #8b929e;
    list-style-type: none;
    
}
#posztkiiratas li {
background: #bec9db;
margin:10px;
border-radius: 7px;
text-align: center;
padding:5px;

}

#legertekesebb{
    background: #1f435b;
    margin:20px;
border-radius: 8px;
text-align:center;
color:whitesmoke;
}

button.mutasd{
    box-sizing: border-box;
    margin-left:20px;
    padding:5px;
    background-color: #96ad95;
    border-radius: 5px;
    color:white;
}
button.mutasd:hover{
    cursor: pointer;
}
select{
    padding: 4px;
    border-radius: 3px;
}