  body {
      font: normal sans-serif;
      color: #222;
      background-color: #edeff0;
background-image: url(/img/110884612-green-grass-background-nature-texture.jpg);
  }
  
  #main-container {
    width: 90%;
    margin: auto;
  }
  
  .main-header { background-image:linear-gradient(rgb(116, 113, 90), rgb(24, 26, 25))}
  .main-nav li { background-color: #3f8abf; }
  .primary-content { background-color: #caebf6; }
  .secondary-content { 
    background-color: #bfe3d0;
   }
  
  

  .main-header {
    padding: 20px;
  }
  
  .main-logo-img,
  .main-nav,
  .main-nav li {
    display: inline;
    padding: 10px 30px;
    border-radius: 10px;
  }
  .main-nav :hover{
    box-shadow: 0 0 5px;
    cursor: pointer;
  }
  
  .main-logo-img {
    margin-right: 25%;
    inline-size: 10%;
    border-radius: 50%;

  }
  
  .main-nav a {
    color: white;
    text-decoration: none;
  }
  