  body {
      font: normal sans-serif;
      color: #222;
      background-color: #edeff0;
background-image: url(/img/110884612-green-grass-background-nature-texture.jpg);
  }
  
  #main-container {
    width: 90%;
    margin: auto;
  }
  
  .main-header { background-image:linear-gradient(rgb(116, 113, 90), rgb(24, 26, 25))}
  .main-nav li { background-color: #3f8abf; }
  .primary-content { background-color: #caebf6; }
  .secondary-content { 
    background-color: #bfe3d0;
   }
  
  

  .main-header {
    padding: 20px;
  }
  
  .main-logo-img,
  .main-nav,
  .main-nav li {
    display: inline;
    padding: 10px 30px;
    border-radius: 10px;
  }
  .main-nav :hover{
    box-shadow: 0 0 5px;
    cursor: pointer;
  }
  
  .main-logo-img {
    margin-right: 25%;
    inline-size: 10%;
    border-radius: 50%;

  }
  
  .main-nav a {
    color: white;
    text-decoration: none;
  }
  /*Evelin formázása*/
  .skth{
    background-color: 	#9CC4A4;
    color: #8A683A;
    text-emphasis: none;
    font-family: cursive;
  }

  .skth h1{
    color: 			#C63D44;
    text-shadow: 1px 1px 2px #C63D44, 0 0 1em #3B77B3, 0 0 0.2em blue;
    text-align: center;
    text-transform: uppercase;
    padding: 1cm;
  }

 .skth h2 {
    color: 	#3B77B3;
    text-shadow: #5C6772 1px 1px 10px;
    text-align: center;
}
.skth h3{
    color: #6D7E8F;
    text-shadow: #5C6772 1px 1px 10px;
    text-align: center;
}

/*.skth table{
  border: 2px solid black
}*/
